body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container{
  min-height: 100vh;
}

/* App.css */
.navbar-custom {
  background-color: rgb(17, 81, 17) !important;
}

main{
  flex: 1;
}
.btn-primary {
  background-color: #c28d5f;
  color: #000000;
}
.products {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #c6bd03;
}
.product{
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img{
  width :100%;
  height: 70%;
  max-width: 400px;
  
}
.product-info{
  padding:1rem;
}
.footer {
  background-color: rgb(17, 81, 17);
  color: white;
  padding: 10px;
  text-align: center;
}

.card-img-top.product-image {
  height: 300px; 
  object-fit: cover; 
}

.product-card {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-card .card-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card .card-text {
  font-size: 1em;
  color: #333333;
  margin-bottom: 10px;
}

.product-card button {
  background-color: hsl(45, 2%, 48%); /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background-color: #036108;
}

.img-large {
  max-width: 100%;
}

.custom-green-button {
  background-color: #b9f1b9; /* or any shade of green you prefer */
  border-color: #06f13819;     /* matching border color */
  color: rgb(0, 0, 0);              /* text color */
}

.custom-green-button:hover {
  background-color: #377d46; /* darken color on hover */
  border-color: #1e7e34;     /* matching border color on hover */
}
.img-thumbnail {
  height: 100px;
}